<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <form>
            <input v-model="nombre" placeholder="Nombre" type="text"/><!--Nombre-->            
            <input v-model="genero" placeholder="Genero" type="text"/><!--Nombre-->
            <input v-model="precio" placeholder="Precio" type="number"/><!--Nombre-->            
            <input v-model="url" placeholder="Url" type="text"/><!--Nombre-->
            <button type="button" @click="agregar">Ingresar</button>
        </form>
        <div>
            <registros
                v-bind:articulos="articulos"
            ></registros>
        </div>
    </div>
    <script>
        Vue.component("registros",{
            props:["articulos"],
            template:'<table>'+
                        '<tr v-for="art in articulos">'+
                            '<td>{{art.nombre}}</td>'+
                            '<td>{{art.precio}}</td>'+
                            '<td>{{art.genero}}</td>'+
                            '<td>{{art.url}}</td>'+
                        '</tr>'+
                    '</table>'
        });
        //Create Read Update Delete
        let app= new Vue({
            el:"#app",
            data:{
                nombre:null,
                precio:null,
                genero:null,
                url:null,
                articulos:[]
            },
            methods:{
                agregar:function(){
                    let obj={
                        nombre:this.nombre,
                        precio:this.precio,
                        genero:this.genero,
                        url:this.url,
                    }
                    console.log(obj, "obj");
                    this.articulos.push(obj);                    
                    console.log(this.articulos,"articulos");
                    console.log("funciona");
                    this.limpiar();
                },
                limpiar:function(){
                    this.nombre=null,
                    this.precio=null,
                    this.genero=null,
                    this.url=null
                }
            }
        });
    </script>
</body>
</html>